@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebProject.Core.Models
@attribute [Authorize(Roles="Admin")]
@attribute [ValidateAntiForgeryToken]
@model WebProject.Pages.Admin.Dashboard
<div class="row justify-content-center">
    <div class="card col-12 mt-5 border-0">
        <div class="row g-2">
            <div class="col-4">
                @* Add category form *@
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    @Html.AntiForgeryToken()
                    
                </form>
            </div>
            <div class="col-8">
                @* Categories *@
                @RenderSubCategories(Model.Categories[0])
            </div>
        </div>
    </div>
</div>

@{
    HtmlString RenderSubCategories(ListingCategory category)
    {
        string output = string.Empty;
        
        foreach (var subCategory in category.SubCategories)
        {
            output += $"<li>{@subCategory.Name}</li>";
            if (subCategory.SubCategories.Count > 0)
            {
                output += RenderSubCategories(subCategory).Value;
            }
        }
        return new HtmlString($"<ul>{output}</ul>");
    }
}