@page
@model WebProject.Pages.Listings.Create
@attribute [ValidateAntiForgeryToken]
@* @attribute [Authorize(Roles = "User,Admin")] *@

<div class="py-3 listing-container">
    <component type="typeof(CreateListingForm)" render-mode="Server" />
</div>
@section Scripts
{
    <script src="~/_framework/blazor.server.js"></script>
}