@page "{listingId?}"
@using WebProject.Infastructure.Services
@using WebProject.Pages.Shared
@model WebProject.Pages.Listings.Index
@{
    ViewData["Title"] = Model.Listing is null ? string.Empty : Model.Listing.Title;
}
<div class="py-3 listing-container">
    <div class="container-fluid w-100">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                @{ await Html.RenderPartialAsync("Shared/ImageGallery", new ImageGalleryModel { Images = Model.Listing!.Images, GalleryId = Model.Listing.Id }); }
            </div>
            <div class="col-12 col-lg-4">
                <h1>TEST!</h1>
            </div>
        </div>
    </div>
</div>