@page
@{
    ViewData["Title"] = "Piekļuve liegta!";
}
<div class="row">
    <div class="col-12 vstack gap-3">
        <h1 class="status-code fs-1">
           Piekļuve liegta!
        </h1>
    </div>
</div>