@page
@attribute [ValidateAntiForgeryToken]
@model WebProject.Pages.Account.Register
@{
    ViewData["Title"] = "Izveidot jaunu kontu";
}
<div class="row justify-content-center">
    <form class="card col-12 col-lg-4 px-4 py-4 mt-5 border-0" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        @Html.AntiForgeryToken()
        <h1 class="fs-2 text-primary text-center">Izveidot jaunu kontu</h1>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-2">
            <input asp-for="Input.Email" class="form-control" id="floatingEmail" placeholder="E-Pasts"/>
            <label asp-for="Input.Email" for="floatingEmail"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Input.Password" class="form-control" id="floatingPassword" placeholder="Parole"/>
            <label asp-for="Input.Password" for="floatingPassword"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-2">
            <input asp-for="Input.ConfirmPassword" class="form-control" id="floatingConfirmPassword" placeholder="Parole atkārtoti">
            <label asp-for="Input.ConfirmPassword" for="floatingConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-floating mb-1">
            <input asp-for="Input.Username" class="form-control" id="floatingUsername" placeholder="Lietotājvārds">
            <label asp-for="Input.Username" for="floatingUsername"></label>
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <hr/>
        <button class="w-100 btn btn-lg btn-primary border-0" type="submit">Izveidot</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}