:root {
  /* Primary text color https://www.colorbook.io/hexcolors/view/e95354 */
  --main-primary-color: #E95354 !important;
  /* Secondary text color https://www.colorbook.io/hexcolors/view/53e9e8 */
  --main-secondary-color: #53E9E8 !important;
  /* Filler color https://www.colorbook.io/hexcolors/view/c4f7f7 */
  --main-fill-color: #C4F7F7 !important;
}
.bg-filler {
  background: var(--main-fill-color) !important;
}
.bg-primary {
  background: var(--main-primary-color) !important;
}
.bg-secondary {
  background: var(--main-secondary-color) !important;
}
.text-primary {
  font-size: 16px;
  color: var(--main-primary-color) !important;
}
.text-secondary {
  font-size: 14px;
  color: var(--main-secondary-color) !important;
}

html {
  font-size: 14px;
  color: var(--main-primary-color) !important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}