:root {
    /* Primary text color https://www.colorbook.io/hexcolors/view/e95354 */
    --main-primary-color: #E95354 !important;
    /* Secondary text color https://www.colorbook.io/hexcolors/view/53e9e8 */
    --main-secondary-color: #53E9E8 !important;
    /* Filler color https://www.colorbook.io/hexcolors/view/c4f7f7 */
    --main-fill-color: #C4F7F7 !important;
    /* Validation messages */
    --main-validation-color: #f14c4c;
}
.bg-filler {
  background: var(--main-fill-color) !important;
}
.bg-primary {
  background: var(--main-primary-color) !important;
}
.bg-secondary {
  background: var(--main-secondary-color) !important;
}
.text-primary {
  font-size: 16px;
  color: var(--main-primary-color) !important;
}
.text-secondary {
  font-size: 14px;
  color: var(--main-secondary-color) !important;
}
.form-submit-error {
  color: red;
  font-weight: bold;
  list-style: none;
}
.validation-message {
    color: var(--main-validation-color) !important;
}
html {
  font-size: 14px;
  color: var(--main-primary-color) !important;
}
.message-list {
  max-height: 50vh !important;
}
/*cNomainām carousel kontroļu krāsu uz 2b2b2b */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='2b2b2b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='2b2b2b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators [data-bs-target] {
  background-color: #2b2b2b;
}
.album-listing-body {
  max-height: 14em;
  min-height: max-content;
}
.listing-container {
  height: 100%;
}

.img {
  object-fit: contain;
  aspect-ratio: 16/9;
}
/* Saņemto nosūtīto ziņu bloks */
.messagebox {
  min-width: 350px !important;  
}
.bg-active-none:not(:disabled):not(:disabled):active {
  background-color: transparent;
}
/* toast ziņojumi*/
.toast {
  max-width: 250px;
  position: absolute;
  top: 1%; 
  right: 1%; 
  z-index:9999;
}

/* sm */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .album-listing-body {
    max-height: 18em;
  }
}