<form id="messageModalForm" asp-controller="Message" asp-action="SendMessage" method="post">
    @Html.Hidden("pdata", string.Empty)
    <div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="messageModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary fs-4" id="messageModelLabel">Sūtīt ziņu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-2">
                        <textarea name="message" class="form-control" placeholder="Sūtīt ziņu" id="message" style="height: 120px"></textarea>
                        <label for="message">Ziņas saturs</label>
                    </div>
                    <button id="messageModalSubmit" type="submit" class="float-end btn btn-primary">
                        Sūtīt <i class="bi bi-chat-dots"></i>
                    </button>
                    <button type="button" class="me-2 float-end btn btn-secondary" data-bs-dismiss="modal">
                        Aizvērt <i class="bi bi-x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>